
<!-- blog body -->
<div class = "body container-fluid">
  <!-- row 1 -->
  <div class = "row">
  <!-- main blog post -->
    <div class = "blog-section-main col-xs-12 col-sm-12 col-md-8">
      <!-- blog image -->

      <%= image_tag(@last_post.image) %>
        <!-- heart -->
        <div class = "heart">
          <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
          <span class = "likes">456</span>

        <!-- bookmark -->
        <div class = "bookmark">
          <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>
        </div>
      </div>
        <div style="clear: both;"></div>
      <!-- post title -->
      <h3> <%= link_to @last_post.title, post_path(@last_post) %> </h3>
      <!-- post body -->
      <p> <%= @last_post.body %> </p>
      <!-- post author -->
      <h5 class="author"> <%= Faker::GameOfThrones.character %> <h5>
      <!-- post date -->
      <h5> <%= @last_post.created_at %> </h5>
    </div>

    <!-- side bar -->
    <div class="sidebar hidden-xs hidden-sm col-md-4">
      <nav class="navi flex-column">
        <span class="sidebar-title">Most Liked&nbsp;&nbsp;
          <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></span><p>
        </br>
        <a class="nav-link active" href="#">Don't You Dare Put That In Your Mouth</a><p><hr>
        <a class="nav-link" href="#">How To Tell When A Girl Hates Your Guts</a><p><hr>
        <a class="nav-link" href="#">If Your Friends All Ate At Arby's, Would You?</a><p><hr>
        <a class="nav-link" href="#">10 Things You Probably Shouldn't Google At Work</a><p><hr>
        <a class="nav-link" href="#">Why Is My Dad Secretly a Cage Fighter?</a><p><hr>
        <a class="nav-link" href="#">Maximizing Radness and Minimalizing Whackness</a><p><hr>
        <a class="nav-link" href="#">20 Reasons A Cat In A Hat is Cuter Than You Think</a><p><hr>
        <a class="nav-link" href="#">Pneumono Ultra Microscopic Silico Volcano Conneosis </a><p><hr>
      </nav>
    </div>
  </div>

<div class="body container-fluid">

  <% @posts.each_slice(3) do |group| %>
    <div class="row">
      <% group.each do |post| %>

        <div class = "blog-section col-xs-12 col-sm-12 col-md-4">

          <!-- blog image -->
          <%= image_tag(post.image, class: 'blog-img') %>
          <!-- heart -->
          <div class = "heart">
            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
            <span class = "likes"><%= post.likes %></span>

          <!-- bookmark -->
          <div class = "bookmark">
            <i class="fa fa-diamond fa-2x" aria-hidden="true"></i>
          </div>
          </div>
          <div style="clear: both;"></div>
          <!-- post title -->
          <h3> <%= link_to post.title, post_path(post) %> </h3>
          <!-- post body -->
          <p> <%= post.body %> </p>
          <!-- post author -->
          <h5 class="author"> <%= Faker::GameOfThrones.character %> <h5>
          <!-- post date -->
          <h5> <%= post.created_at %> </h5>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr>
  <!-- row 4 -->
  <div class="row4 hidden-xs hidden-sm">
    <span class="more"><h4>😆 More Cool Stuff!😆<h4></span><hr>
  </div>
</div> <!-- close Blog body container -->
</div>
