<h1 style='text-align: center;'>Create A New Post</h1>

<%= form_for @post do |f| %>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='form-group'>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class='form-group'>
  <%= f.submit 'Create Post', class: 'btn btn-primary' %>
</div>
<% end %>
